// ==================== Colors ====================
$color-body-bg                : #fff;
$color-header-bg-top          : #012f49;
$color-header-bg-menu         : #024369;
$color-header-ft              : #fff;
$color-header-link-hov        : #fff;
$color-header-link-hov-decor  : #ff971e;
$color-footer-cr-ft           : #45555f;
$color-col                    : #fff;
$color-link-bg                : #ff971e;
$color-link-btn-bg            : #ccde95;
$color-prod-btn-bg            : #ff971e;
$color-prod-btn               : #fff;
$color-about-bg-1             : #ccde95;
$color-about-bg-2             : #bbcc86;
$color-about-btn-bg           : rgba(0,0,0,0);
$color-news-bg-1              : #ff971e;
$color-news-bg-2              : #f88b0d;
$color-news-bg-3              : #eb7e00;
$color-news-bg-4              : #dd7600;
$color-news-bg-5              : #34434d;
$color-news-input             : #f78500;
$color-news-input-border      : #ffb661;
$color-news-btn-bg            : #fff;
$color-page-ft                : #024369;
$color-green                  : #ccde95;
$color-green-border           : #acbd79;
$color-border                 : #e5e8ea;
$color-socmed                 : #fff;
$color-socmed-fb              : #00bce3;
$color-socmed-google-1        : #db4336;
$color-socmed-google-2        : #fa6f57;
// ==================== Font Size ====================
$h1                : 48px;
$h2                : 32px;
$h3                : 30px;
$h4                : 27px;
$h5                : 24px;
$p-1               : 16px;
$p-2               : 14px;
$p-3               : 12px;
$btn-1             : 24px;
$btn-2             : 18px;
$font-header       : 24px;
$font-header-top   : 17px;
$font-footer-socmed: 32px;
$font-link-socmed  : 22px;

// ==================== Height ====================
$panel-heading          : 200px;
