*, ul, ol, li, a, h1, h2, h3, h4, h5, h6, p, span, i {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a:hover {
  text-decoration: none; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 27px; }

h5 {
  font-size: 24px; }

p {
  font-family: 'PT Sans'; }

body {
  font-family: 'GiorgioSans'; }
  body header {
    font-family: 'GiorgioSans';
    text-transform: uppercase; }
    body header li, body header a {
      color: #fff; }
    body header section.top {
      position: relative;
      background-color: #012f49;
      font-size: 17px; }
      body header section.top div.container div.row div.col ul {
        padding: 12px 0;
        text-align: right; }
        body header section.top div.container div.row div.col ul li {
          display: inline;
          border-right: 1px solid #024369;
          padding: 2px 8px 2px 12px; }
          body header section.top div.container div.row div.col ul li i, body header section.top div.container div.row div.col ul li span {
            margin: 0 8px 0 0; }
          body header section.top div.container div.row div.col ul li p {
            display: inline; }
            body header section.top div.container div.row div.col ul li p a i {
              margin: 0 0 0 8px; }
      body header section.top div.container div.row div.logo a.logo {
        display: block;
        position: absolute;
        z-index: 3;
        top: 5px; }
    body header section.menu {
      background-color: #024369;
      border-bottom: 1px solid #012f49;
      font-size: 24px; }
      body header section.menu div.burger {
        display: none; }
      body header section.menu ul {
        position: relative;
        text-align: right;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: flex-end;
        justify-content: flex-end; }
        body header section.menu ul li {
          margin: 0 1px; }
          body header section.menu ul li a {
            padding: 30px 22px;
            display: block; }
            body header section.menu ul li a:hover {
              color: #fff;
              padding-bottom: 26px;
              border-bottom: 4px solid #ff971e;
              border-radius: 5px; }
        body header section.menu ul li.active a {
          padding-bottom: 26px;
          border-bottom: 4px solid #ff971e;
          border-radius: 5px; }
        body header section.menu ul form.search {
          display: block;
          height: 100%;
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center; }
          body header section.menu ul form.search input {
            display: inline;
            width: 44px;
            height: 44px;
            display: flex;
            display: -webkit-flex;
            align-items: center;
            -webkit-align-items: center;
            justify-content: center;
            -webkit-justify-content: center;
            border-radius: 50%;
            padding-left: 15px;
            border: none;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            font-size: 14px;
            color: #024369; }
            body header section.menu ul form.search input::-moz-placeholder {
              color: #024369; }
            body header section.menu ul form.search input:-ms-input-placeholder {
              color: #024369; }
            body header section.menu ul form.search input::-webkit-input-placeholder {
              color: #024369; }
        body header section.menu ul form.search-sm {
          display: none; }
  body footer {
    font-size: 12px;
    color: #45555f; }
    body footer section {
      border-top: 2px solid #e5e8ea; }
      body footer section:first-of-type {
        border: none; }
    body footer section.tag {
      padding: 45px 0 0;
      font-size: 14px; }
      body footer section.tag div.container div.row div.col {
        margin: 0 0 45px; }
        body footer section.tag div.container div.row div.col a {
          color: #024369;
          margin: 0 0 6px;
          display: inline-block;
          font-family: 'PT Sans'; }
    body footer section.grid {
      padding: 22px 0 0 0; }
      body footer section.grid div.col {
        margin: 0 0 22px; }
        body footer section.grid div.col h3 {
          text-transform: uppercase;
          font-weight: bold;
          color: #024369;
          margin: 0 0 15px; }
        body footer section.grid div.col div.content {
          display: flex;
          display: -webkit-flex;
          justify-content: center;
          -webkit-justify-content: center; }
          body footer section.grid div.col div.content p.socmed {
            display: inline; }
            body footer section.grid div.col div.content p.socmed a {
              display: flex;
              display: -webkit-flex;
              justify-content: center;
              -webkit-justify-content: center;
              align-items: center;
              -webkit-align-items: center;
              height: 84px;
              width: 84px;
              border: none;
              border-radius: 5px;
              color: #fff;
              font-size: 32px;
              float: left;
              margin: 5px; }
              body footer section.grid div.col div.content p.socmed a:hover {
                color: #fff; }
            body footer section.grid div.col div.content p.socmed a.facebook {
              background-color: #00bce3; }
            body footer section.grid div.col div.content p.socmed a.google-plus {
              background-color: #fa6f57; }
    body footer section.copyright {
      padding: 20px 0 0; }
      body footer section.copyright div.container div.row {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center; }
        body footer section.copyright div.container div.row div.col {
          margin: 0 0 20px; }
          body footer section.copyright div.container div.row div.col img {
            width: auto;
            height: auto; }
    body footer section.about {
      padding: 25px 0; }
      body footer section.about div.container p {
        margin: 0 28px; }

main section.slides {
  padding: 25px 0; }
  main section.slides div.container div.slide div.carousel-inner div.item img {
    width: 100%;
    height: 710px; }
main section.links {
  background-color: #ff971e; }
  main section.links a {
    color: #024369;
    font-size: 16.2px;
    font-weight: bold; }
    main section.links a:hover {
      color: #fff; }
  main section.links div.container div.row {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center; }
    main section.links div.container div.row div.col div.inner {
      width: 100%;
      background-color: #fff;
      border: none;
      border-radius: 300px;
      padding: 31px 31px 0; }
      main section.links div.container div.row div.col div.inner a.btn {
        display: block;
        background-color: #ccde95;
        padding: 15px 0;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: normal;
        border-radius: 300px;
        width: 100%; }
        main section.links div.container div.row div.col div.inner a.btn:hover {
          color: #fff;
          background-color: #ff971e; }
      main section.links div.container div.row div.col div.inner span.socmed {
        margin-top: 4px;
        display: inline-block; }
        main section.links div.container div.row div.col div.inner span.socmed a {
          margin: 0 4px;
          font-size: 22px; }
          main section.links div.container div.row div.col div.inner span.socmed a:hover {
            color: #ff971e; }
main section.featured_collections {
  font-family: 'Myriad Pro';
  padding: 42px 0 0; }
  main section.featured_collections div.container div.row div.title {
    display: none;
    position: relative;
    border-bottom: 2px solid #e5e8ea;
    margin: 0 0 45px; }
    main section.featured_collections div.container div.row div.title h1 {
      margin: 0 0 25px;
      color: #024369;
      text-transform: uppercase;
      font-weight: bold; }
    main section.featured_collections div.container div.row div.title div.decor {
      width: 45%;
      margin: 0 27.5%;
      height: 5px;
      border-radius: 5px;
      background-color: #024369;
      position: absolute;
      bottom: -4px; }
  main section.featured_collections div.container div.row div.col {
    margin: 0 0 42px; }
    main section.featured_collections div.container div.row div.col a {
      display: block;
      width: 100%;
      position: relative; }
      main section.featured_collections div.container div.row div.col a img {
        width: 100%; }
      main section.featured_collections div.container div.row div.col a div.inner {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center; }
        main section.featured_collections div.container div.row div.col a div.inner span {
          width: 92%;
          height: 20%;
          display: block;
          margin: 0 4%;
          border: 2px solid #fff; }
          main section.featured_collections div.container div.row div.col a div.inner span img {
            float: left;
            width: 30%;
            height: 100%; }
          main section.featured_collections div.container div.row div.col a div.inner span div.inner-text {
            width: 70%;
            float: right;
            margin: 0;
            padding: 0;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            align-items: center;
            height: 100%; }
            main section.featured_collections div.container div.row div.col a div.inner span div.inner-text h2 {
              color: #fff;
              text-transform: uppercase;
              font-weight: bold; }
      main section.featured_collections div.container div.row div.col a:hover div.inner span {
        box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
        text-shadow: 5px 5px rgba(0, 0, 0, 0.4); }
main section.featured_products div.container div.row div.title {
  position: relative;
  border-bottom: 2px solid #e5e8ea;
  margin: 0 0 45px; }
  main section.featured_products div.container div.row div.title h1 {
    margin: 0 0 25px;
    color: #024369;
    text-transform: uppercase;
    font-weight: bold; }
  main section.featured_products div.container div.row div.title div.decor {
    width: 45%;
    margin: 0 27.5%;
    height: 5px;
    border-radius: 5px;
    background-color: #024369;
    position: absolute;
    bottom: -4px; }
main section.featured_products div.container div.row div.col {
  margin-bottom: 24px; }
  main section.featured_products div.container div.row div.col a {
    color: #024369;
    display: block; }
    main section.featured_products div.container div.row div.col a div.panel {
      margin: 0;
      border-radius: 5px; }
      main section.featured_products div.container div.row div.col a div.panel div.panel-heading {
        background-color: transparent;
        padding: 0;
        height: 200px; }
        main section.featured_products div.container div.row div.col a div.panel div.panel-heading img {
          width: 100%;
          height: 100%;
          border-radius: 5px 5px 0 0; }
      main section.featured_products div.container div.row div.col a div.panel div.panel-body {
        padding: 20px 2% 10px; }
        main section.featured_products div.container div.row div.col a div.panel div.panel-body h3 {
          height: 75px;
          margin: 0 0 12px;
          text-transform: uppercase;
          font-weight: bold; }
        main section.featured_products div.container div.row div.col a div.panel div.panel-body p {
          height: 90px;
          text-transform: uppercase;
          font-size: 12px;
          font-family: 'PT Sans'; }
      main section.featured_products div.container div.row div.col a div.panel div.panel-footer {
        background-color: transparent;
        padding: 23px 2%; }
        main section.featured_products div.container div.row div.col a div.panel div.panel-footer h5 {
          text-transform: uppercase;
          font-weight: bold; }
    main section.featured_products div.container div.row div.col a:hover div.panel {
      background-color: #ccde95;
      border-color: #acbd79;
      box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.4); }
      main section.featured_products div.container div.row div.col a:hover div.panel div.panel-heading, main section.featured_products div.container div.row div.col a:hover div.panel .panel-body, main section.featured_products div.container div.row div.col a:hover div.panel .panel-footer {
        border-color: #acbd79; }
main section.featured_products div.container a.btn-more {
  display: block;
  width: 30%;
  padding: 16px 0;
  margin: 0 35% 37px;
  border: none;
  border-radius: 100px;
  background-color: #ff971e;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal; }
  main section.featured_products div.container a.btn-more:hover {
    color: #024369;
    background-color: #ccde95; }
main section.featured_content {
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.1); }
  main section.featured_content div.content {
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #CCDE95 0%, #CCDE95 95%, #BBCC86 95%, #BBCC86 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #CCDE95 0%, #CCDE95 95%, #BBCC86 95%, #BBCC86 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #CCDE95 0%, #CCDE95 95%, #BBCC86 95%, #BBCC86 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CCDE95), color-stop(95, #CCDE95), color-stop(95, #BBCC86), color-stop(100, #BBCC86));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #CCDE95 0%, #CCDE95 95%, #BBCC86 95%, #BBCC86 100%);
    /* W3C Markup */
    background-image: linear-gradient(to bottom, #CCDE95 0%, #CCDE95 95%, #BBCC86 95%, #BBCC86 100%);
    padding: 50px 0; }
    main section.featured_content div.content div.container div.row {
      position: relative; }
      main section.featured_content div.content div.container div.row div.col div.title {
        position: relative;
        border-bottom: 2px solid #e5e8ea;
        width: 100%;
        margin: 0 0 20px; }
        main section.featured_content div.content div.container div.row div.col div.title h1 {
          margin: 0 0 30px 0;
          color: #024369;
          text-transform: uppercase;
          font-weight: bold; }
        main section.featured_content div.content div.container div.row div.col div.title div.decor {
          position: absolute;
          bottom: -1;
          height: 5px;
          background-color: #024369;
          width: 80%;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px; }
      main section.featured_content div.content div.container div.row div.col p {
        font-size: 16px;
        height: auto;
        width: 100%;
        margin: 0 0 20px;
        color: #024369; }
      main section.featured_content div.content div.container div.row div.col a.more {
        display: block;
        background-color: transparent;
        border: 1px solid #e5e8ea;
        border-radius: 300px;
        -webkit-border-radius: 300px;
        -moz-border-radius: 300px;
        padding: 16px 0;
        width: 30%;
        color: #024369;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px; }
      main section.featured_content div.content div.container div.row img {
        position: absolute;
        right: 15px;
        bottom: -50%;
        width: 52%;
        height: 160%; }
  main section.featured_content div.family {
    background: url("../img/img_wood-top.png");
    height: 150px; }
  main section.featured_content div.sign-up {
    background: url("../img/img_wood-btm.png"); }
    main section.featured_content div.sign-up div.container div.row div.col {
      position: relative;
      height: 50px; }
      main section.featured_content div.sign-up div.container div.row div.col div.box {
        width: 100%;
        padding: 0 15px;
        display: block;
        left: 0;
        position: absolute;
        bottom: 6px; }
        main section.featured_content div.sign-up div.container div.row div.col div.box div.sign-content {
          width: 90%;
          margin: 0 5%;
          z-index: 3;
          position: absolute;
          bottom: 6px;
          left: 0;
          padding: 34px 0 47px;
          /* IE10+ */
          background-image: -ms-linear-gradient(top, #FF971E 0%, #FF971E 85%, #F88B0D 85%, #F88B0D 90%, #EB7E00 90%, #EB7E00 95%, #DD7600 95%, #DD7600 100%);
          /* Mozilla Firefox */
          background-image: -moz-linear-gradient(top, #FF971E 0%, #FF971E 85%, #F88B0D 85%, #F88B0D 90%, #EB7E00 90%, #EB7E00 95%, #DD7600 95%, #DD7600 100%);
          /* Opera */
          background-image: -o-linear-gradient(top, #FF971E 0%, #FF971E 85%, #F88B0D 85%, #F88B0D 90%, #EB7E00 90%, #EB7E00 95%, #DD7600 95%, #DD7600 100%);
          /* Webkit (Safari/Chrome 10) */
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF971E), color-stop(85, #FF971E), color-stop(85, #F88B0D), color-stop(90, #F88B0D), color-stop(90, #EB7E00), color-stop(95, #EB7E00), color-stop(95, #DD7600), color-stop(100, #DD7600));
          /* Webkit (Chrome 11+) */
          background-image: -webkit-linear-gradient(top, #FF971E 0%, #FF971E 85%, #F88B0D 85%, #F88B0D 90%, #EB7E00 90%, #EB7E00 95%, #DD7600 95%, #DD7600 100%);
          /* W3C Markup */
          background-image: linear-gradient(to bottom, #FF971E 0%, #FF971E 85%, #F88B0D 85%, #F88B0D 90%, #EB7E00 90%, #EB7E00 95%, #DD7600 95%, #DD7600 100%); }
          main section.featured_content div.sign-up div.container div.row div.col div.box div.sign-content h1 {
            margin: 0 0 12px 3%;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 33.6px; }
          main section.featured_content div.sign-up div.container div.row div.col div.box div.sign-content div.newsletter {
            position: relative;
            width: 96%;
            margin: 0 2%;
            font-size: 18px;
            display: inline-block;
            border: 1px solid #ffb661;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px; }
            main section.featured_content div.sign-up div.container div.row div.col div.box div.sign-content div.newsletter input {
              background-color: #f78500;
              z-index: -1;
              width: 80%;
              float: left;
              margin: 0;
              padding: 15px 23% 15px 4%;
              border: none;
              color: #fff;
              border-radius: 100px 0 0 100px;
              -webkit-border-radius: 100px 0 0 100px;
              -moz-border-radius: 100px 0 0 100px; }
              main section.featured_content div.sign-up div.container div.row div.col div.box div.sign-content div.newsletter input::-moz-placeholder {
                color: #ffb661; }
              main section.featured_content div.sign-up div.container div.row div.col div.box div.sign-content div.newsletter input:-ms-input-placeholder {
                color: #ffb661; }
              main section.featured_content div.sign-up div.container div.row div.col div.box div.sign-content div.newsletter input::-webkit-input-placeholder {
                color: #ffb661; }
              main section.featured_content div.sign-up div.container div.row div.col div.box div.sign-content div.newsletter input:focus {
                border-radius: 100px 0 0 100px;
                -webkit-border-radius: 100px 0 0 100px;
                -moz-border-radius: 100px 0 0 100px;
                border: none; }
            main section.featured_content div.sign-up div.container div.row div.col div.box div.sign-content div.newsletter button {
              position: absolute;
              right: 0;
              top: 0;
              width: 40%;
              margin: 0;
              padding: 15px 0;
              border: none;
              background-color: #fff;
              color: #024369;
              text-transform: uppercase;
              font-weight: bold;
              border-radius: 100px; }
        main section.featured_content div.sign-up div.container div.row div.col div.box div.decor {
          height: 13px;
          width: 100%;
          border-radius: 30px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          background-color: #34434d; }
    main section.featured_content div.sign-up div.container div.row div.right {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      padding: 0 45px 0 15px; }
      main section.featured_content div.sign-up div.container div.row div.right p {
        margin: 0;
        font-size: 14px;
        font-weight: bold; }
        main section.featured_content div.sign-up div.container div.row div.right p a {
          color: #024369;
          margin: 0 8px 0 0; }
          main section.featured_content div.sign-up div.container div.row div.right p a i {
            margin: 0 18px 0 0;
            color: #da3f32; }
        main section.featured_content div.sign-up div.container div.row div.right p a.follow {
          padding: 8px;
          background-color: #fff;
          border: 1px solid #a3a89f;
          text-transform: capitalize; }
          main section.featured_content div.sign-up div.container div.row div.right p a.follow:first-of-type {
            margin: 0 3px 0 0; }

@media (max-width: 1199px) {
  h2 {
    font-size: 24px; }

  h3 {
    font-size: 24px; }

  h5 {
    font-size: 19.2px; }

  body header section.top {
    font-size: 13.6px; }
    body header section.top div.container div.row div.col ul li {
      padding: 2px 6px 2px 8px; }
      body header section.top div.container div.row div.col ul li i, body header section.top div.container div.row div.col ul li span {
        margin: 0 6px 0 0; }
      body header section.top div.container div.row div.col ul li p a i {
        margin: 0 0 0 6px; }
  body header section.menu {
    font-size: 16.8px; }
    body header section.menu ul li a {
      padding: 30px 22px; }

  main section.slides {
    padding: 25px 0; }
    main section.slides div.container div.slide div.carousel-inner div.item img {
      width: 100%;
      height: 620px; }
  main section.links a {
    font-size: 13.5px; }
  main section.links div.container div.row div.col div.inner {
    padding: 25px 25px 0; }
    main section.links div.container div.row div.col div.inner a.btn {
      font-size: 19.2px; }
    main section.links div.container div.row div.col div.inner span.socmed {
      margin-top: 4px; }
      main section.links div.container div.row div.col div.inner span.socmed a {
        margin: 0 4px;
        font-size: 17.6px; }
  main section.featured_collections div.container div.row div.title div.decor {
    width: 60%;
    margin: 0 20%; }
  main section.featured_products div.container div.row div.title div.decor {
    width: 60%;
    margin: 0 20%; }
  main section.featured_products div.container div.row div.col a div.panel div.panel-heading {
    height: 200px; }
  main section.featured_products div.container div.row div.col a div.panel div.panel-body h3 {
    height: 75px; }
  main section.featured_products div.container div.row div.col a div.panel div.panel-body p {
    height: 90px;
    font-size: 0.8 12px; }
  main section.featured_products div.container a.btn-more {
    width: 30%;
    margin: 0 35% 37px;
    font-size: 19.2px; }
  main section.featured_content div.content div.container div.row {
    position: relative; }
  main section.featured_content div.sign-up div.container div.row div.col div.box div.sign-content h1 {
    font-size: 24px; } }
@media (max-width: 991px) {
  h1 {
    font-size: 43.2px; }

  h2 {
    font-size: 17.6px; }

  body header section.top {
    font-size: 10.2px; }
    body header section.top div.container div.row div.col ul li {
      padding: 2px 4px; }
      body header section.top div.container div.row div.col ul li i, body header section.top div.container div.row div.col ul li span {
        margin: 0 2px 0 0; }
      body header section.top div.container div.row div.col ul li p a i {
        margin: 0 0 0 2px; }
  body header section.menu {
    font-size: 12px; }
    body header section.menu ul li a {
      padding: 30px 14px;
      display: block; }

  main section.slides {
    padding: 25px 0; }
    main section.slides div.container div.slide div.carousel-inner div.item img {
      width: 100%;
      height: 550px; }
  main section.links div.container div.row div.col div.inner {
    padding: 20px 20px 0; }
    main section.links div.container div.row div.col div.inner a.btn {
      font-size: 12px; }
    main section.links div.container div.row div.col div.inner span.socmed {
      margin-top: 3px; }
      main section.links div.container div.row div.col div.inner span.socmed a {
        margin: 0 3px;
        font-size: 11px; }
  main section.featured_collections div.container div.row div.title div.decor {
    width: 70%;
    margin: 0 15%; }
  main section.featured_products div.container div.row div.title div.decor {
    width: 70%;
    margin: 0 15%; }
  main section.featured_products div.container a.btn-more {
    width: 50%;
    margin: 0 25% 37px; }
  main section.featured_content {
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.1); }
    main section.featured_content div.content div.container div.row div.col a.more {
      width: 40%; }
    main section.featured_content div.content div.container div.row img {
      display: none; }
    main section.featured_content div.sign-up div.container div.row div.right {
      display: inline;
      width: 100%;
      text-align: center;
      margin: 15px 0 0; } }
@media (max-width: 767px) {
  h2 {
    font-size: 32px; }

  body header section.top div.container div.row ul {
    visibility: hidden; }
  body header section.top div.container div.row div.logo {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center; }
    body header section.top div.container div.row div.logo a {
      width: 25%;
      position: relative; }
      body header section.top div.container div.row div.logo a img {
        width: 100%; }
  body header section.menu div.container div.burger {
    display: inline-block;
    margin: 150px 35% 0;
    width: 30%; }
    body header section.menu div.container div.burger button, body header section.menu div.container div.burger a {
      border: 1px solid #fff;
      width: 40%;
      margin: 0 5%;
      float: left;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      height: 50px;
      border-radius: 8px;
      font-size: 24px; }
      body header section.menu div.container div.burger button:hover, body header section.menu div.container div.burger a:hover {
        color: #ff971e; }
    body header section.menu div.container div.burger button div span {
      background-color: #fff; }
    body header section.menu div.container div.burger button:hover div span {
      background-color: #ff971e; }
  body header section.menu div.container div.row div.col ul {
    display: inline;
    text-align: left; }
    body header section.menu div.container div.row div.col ul li a {
      padding: 10px 0; }
      body header section.menu div.container div.row div.col ul li a:hover {
        padding-bottom: 7px;
        border-bottom-width: 3px; }
    body header section.menu div.container div.row div.col ul li.active a {
      padding-bottom: 7px;
      border-bottom-width: 3px; }
    body header section.menu div.container div.row div.col ul form.search {
      display: none; }
    body header section.menu div.container div.row div.col ul form.search-sm {
      display: inline;
      width: 100%; }
      body header section.menu div.container div.row div.col ul form.search-sm input {
        border: none;
        border-radius: 4px;
        width: 100%;
        padding: 8px 2%;
        margin: 5px 0; }
  body footer section.tag div.container div.row div.col a {
    text-align: center;
    display: block; }
  body footer section.copyright div.container div.row {
    display: inline; }
    body footer section.copyright div.container div.row div.col-xs-12 {
      text-align: center; }
  body footer section.about div.container p {
    margin: 0 10px; }

  main section.slides {
    padding: 25px 0; }
    main section.slides div.container div.slide div.carousel-inner div.item img {
      width: 100%;
      height: 450px; }
  main section.links div.container a {
    font-size: 16.2px; }
  main section.links div.container div.row {
    display: inline; }
    main section.links div.container div.row div.col {
      margin: 0 0 20px;
      text-align: center; }
      main section.links div.container div.row div.col:last-of-type {
        margin: 0; }
      main section.links div.container div.row div.col div.inner {
        padding: 20px 20px 0;
        width: 50%;
        margin: 0 25%; }
        main section.links div.container div.row div.col div.inner a.btn {
          font-size: 14.4px; }
        main section.links div.container div.row div.col div.inner span.socmed {
          margin-top: 3px; }
          main section.links div.container div.row div.col div.inner span.socmed a {
            margin: 0 3px;
            font-size: 13.2px; }
  main section.featured_collections div.container div.row div.title div.decor {
    width: 80%;
    margin: 0 10%; }
  main section.featured_products div.container div.row div.title div.decor {
    width: 80%;
    margin: 0 10%; }
  main section.featured_products div.container div.row div.col a div.panel div.panel-heading {
    height: 400px; }
  main section.featured_products div.container div.row div.col a div.panel div.panel-body h3 {
    height: 75px; }
  main section.featured_products div.container div.row div.col a div.panel div.panel-body p {
    height: 90px;
    font-size: 0.8 12px; }
  main section.featured_products div.container a.btn-more {
    width: 60%;
    margin: 0 20% 37px; }
  main section.featured_content div.content div.container div.row div.col a.more {
    width: 40%; }
  main section.featured_content div.content div.container div.row img {
    display: none; }
  main section.featured_content div.sign-up div.container div.row div.col div.box div.sign-content div.newsletter {
    font-size: 14.4px; } }
@media (max-width: 480px) {
  h1 {
    font-size: 24px; }

  h2 {
    font-size: 19.2px; }

  body header section.top div.container div.row div.logo a {
    width: 40%; }
  body header section.menu div.container div.burger {
    margin: 120px 25% 0;
    width: 50%; }
    body header section.menu div.container div.burger button, body header section.menu div.container div.burger a {
      font-size: 18px; }

  main section.slides {
    padding: 25px 0; }
    main section.slides div.container div.slide div.carousel-inner div.item img {
      width: 100%;
      height: 300px; }
  main section.links div.container a {
    font-size: 16.2px; }
  main section.links div.container div.row {
    display: inline; }
    main section.links div.container div.row div.col {
      margin: 0 0 20px;
      text-align: center; }
      main section.links div.container div.row div.col:last-of-type {
        margin: 0; }
      main section.links div.container div.row div.col div.inner {
        padding: 20px 20px 0;
        width: 80%;
        margin: 0 10%; }
        main section.links div.container div.row div.col div.inner a.btn {
          font-size: 14.4px; }
        main section.links div.container div.row div.col div.inner span.socmed {
          margin-top: 3px; }
          main section.links div.container div.row div.col div.inner span.socmed a {
            margin: 0 3px;
            font-size: 13.2px; }
  main section.featured_collections div.container div.row div.title {
    display: block; }
    main section.featured_collections div.container div.row div.title div.decor {
      width: 90%;
      margin: 0 5%; }
  main section.featured_products div.container div.row div.title div.decor {
    width: 90%;
    margin: 0 5%; }
  main section.featured_products div.container div.row div.col a div.panel div.panel-heading {
    height: 300px; }
  main section.featured_products div.container div.row div.col a div.panel div.panel-body h3 {
    height: 75px; }
  main section.featured_products div.container div.row div.col a div.panel div.panel-body p {
    height: 90px;
    font-size: 0.8 12px; }
  main section.featured_products div.container a.btn-more {
    width: 90%;
    margin: 0 5% 37px;
    font-size: 14.4px; }
  main section.featured_content div.content div.container div.row div.col a.more {
    width: 80%;
    font-size: 14.4px; }
  main section.featured_content div.content div.container div.row img {
    display: none; }
  main section.featured_content div.sign-up div.container div.row div.col div.box div.sign-content div.newsletter {
    font-size: 10.8px; }
  main section.featured_content div.sign-up div.container div.row div.right p {
    font-size: 12px; }
    main section.featured_content div.sign-up div.container div.row div.right p a {
      margin: 0 5px 0 0; }
      main section.featured_content div.sign-up div.container div.row div.right p a i {
        margin: 0 5px 0 0; } }

/*# sourceMappingURL=css_style.css.map */
